<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <bean name="dice" class="be.kdg.prog4.spel.Dice" scope="prototype"/>
    <!--
        bug fix: need the game to be a prototype instead of a singleton,
        since a new game should not be able to be in a 'started' state
    -->
    <bean name="spel" class="be.kdg.prog4.spel.Game" scope="prototype"/>
</beans>
